<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>XcodeProject</string>
	<key>CFBundleName</key>
	<string>XcodeProject</string>
	<key>release</key>
	<string>Release</string>
	<key>version</key>
	<string>Version</string>
	<key>build</key>
	<string>Build</string>
	<key>greetings</key>
	<string>Hello world!</string>
</dict>
</plist>
