<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Проект Xcode</string>
	<key>CFBundleName</key>
	<string>Проект Xcode</string>
	<key>release</key>
	<string>Сведения о выпуске</string>
	<key>version</key>
	<string>Версия</string>
	<key>build</key>
	<string>Сборка</string>
	<key>greetings</key>
	<string>Рады приветствовать!</string>
</dict>
</plist>
