<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Localization_ru.plist
   XcodeTemplateProject

   Created by Mikhail Zhigulin in 7531.
 
   Copyright © 7531 Mikhail Zhigulin of Novosibirsk.

   Licensed under the special license. See LICENSE file.
   All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>CFBundleDisplayName</key>
        <string>Проект Xcode</string>
        <key>CFBundleName</key>
        <string>Проект Xcode</string>
        <key>release</key>
        <string>Сведения о выпуске</string>
        <key>version</key>
        <string>Версия</string>
        <key>build</key>
        <string>Сборка</string>
        <key>greetings</key>
        <string>Рады приветствовать!</string>
    </dict>
</plist>
